* {
    border: 1px red solid;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: lightblue;
    color: #fff;
}

h1{
    color: black;
    font-size: 30px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}
main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
  }

@media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
  