* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: lightblue;
    color: #fff;
}

#picture{
    max-width: 7%;
    min-width: 50px;    
}

body{
    background-color: #d8e3e7;
}

h1{
    color: black;
    font-size: 30px;
}

/* I wanted the links to be spaced evenly */

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}
/* headers to pop out and ease user accessiblity using my portfolio  */

h2,h3,h4{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
}

/* Main project needed to be bigger than the rest */
.Calculator {

    border-style: solid;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 50%;
}

.Calculator img{
    width: 100%;
}

.Calculator p {
    text-align: center;
}

.Calculator header {
    padding: 20px;

}

.card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 25%;
}

.card img {
    width: 100%;
}

.card p {
    text-align: center;
}

.card header {
    padding: 20px;
}


@media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
}